
.commander-line {
  display : inline-flex;
  width: 100%;
}

.commander-cursor {
  position: relative;
  float: left;
  color: #FFFFFF;
  font-weight: bold;
  font-family: monospace;
  font-size: 17px;
  margin-right: 5px;
}

.commander-span {

  border: 0px;
  background-color: transparent;
  position: relative;
  float: left;
  color: #FFFFFF;
  font-weight: normal;
  font-family: monospace;
  font-size: 17px;
  width: 100%;
  box-sizing: none ! important;
  -webkit-box-sizing: none ! important;
  box-shadow: none ! important;
  display: inline-block;
  margin-left: 3px;
  // -webkit-animation: blink 2s linear 0s infinite;
  // -moz-animation: blink 2s linear 0s infinite;
  // -ms-animation: blink 2s linear 0s infinite;
  // -o-animation: blink 2s linear 0s infinite;
}

@-webkit-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}

@-moz-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}

@-ms-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}

@-o-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}
