
.commander-notication {
  display : inline-flex;
  width: 100%;
}

.notification-command-block {
  width: 100%;
  display: inline-flex;
}
.notification-command {
  position: relative;
  float: left;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 15px;
}
.notification-cursor {
  position: relative;
  float: left;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 15px;
  margin-right: 5px;
}
.notification-message {
  width: 100%;
  color: green;
  font-family: monospace;
  font-size: 15px;
}
.notification-message.error {
  color: red;
}
